@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.ingredient-group {
    border-bottom: 2px solid #ccc;
}
.ingredient{
    position: relative;
}
.price{
    float: right;
}