
#showcase{
    font-size: 20px;
    font-weight: bold;
    line-height: 2.4;
    color: #EEEEEE;
    background-image:url("/images/tacos.jpg");
    background-size:cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
#showcase h1{
    font-size: 40px;
}

#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color: var(--light);
    border: var(--light) 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: hsla(0, 0%, 0%, 0.3);
}
#showcase .button:hover{
    background-color: hsla(0, 0%, 0%, 0.6);
}
.quot{
    font-style: italic;
    line-height: 1.6;
}
